<ion-view style="" class=" " id="page9" title="My Cart">
    <ion-content class="has-header" padding="true">


      <div ng-repeat="item in cart"   >

        <div class="card">
          <div class="item item-divider">
            <font color="#f7751f">{{item.item_name}}</font>
          </div>
          <div class="item item-text-wrap">
            <p>{{item.item_qty}} x &#8377; {{item.item_price}} =
              <strong> &#8377; {{ item.item_qty *  item.item_price  }}</strong>
            </p>
            <div class="button-bar" style="box-shadow: none;">
              <button ng-click="removeFromCart(item.$id)" class="button button-clear button-small icon ion-android-delete" ></button>
              <button class="button button-clear button-small"></button>
              <button class="button button-clear button-small"></button>
              <button class="button button-clear button-small"></button>
              <button class="button button-clear button-small icon ion-plus-circled" ng-click="inc(item.$id)"></button>
              <button class="button button-clear button-small">{{item.item_qty}}</button>
              <button class="button button-clear button-small icon ion-minus-circled" ng-click="dec(item.$id)" ></button>
            </div>

          </div>
          <!--div class="item item-divider"-->
          <!--/div-->
        </div>

      </div>


      <ion-item class="item" style="white-space: normal;">
        <div>
          <div class="row">
            <div class="col">Sub Total ( {{get_qty()}} ) </div>
            <div class="col" align="right">  <strong> &#8377;{{total_subamount}}</strong></div>
          </div>

          <div class="row">
            <div class="col">Discount </div>
            <div class="col" align="right">  <strong> &#8377;{{get_discount}}</strong></div>
          </div>

          <div class="row">
            <div class="col">Delivery fee   </div>
            <div class="col" align="right">  <strong> &#8377;{{delivery_fee}}</strong></div>
          </div>

          <div class="row">
            <div class="col">+VAT  </div>
            <div class="col" align="right">  <strong> &#8377;{{vat_fee}}</strong></div>
          </div>

          <div class="row">
            <div class="col"><h2>Total</h2> </div>
            <div class="col" align="right">  <h1>&#8377;{{total_cost}}</h1></div>
          </div>

        </div>
      </ion-item>

      <button ng-click="checkout()" class="button button-energized button-block ">Check Out</button>
    </ion-content>
</ion-view>
